*{
    margin: 0px;
    font-size: 1.1rem;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.nav-links{
    text-decoration: none;
    color: #b0c3bf;
    text-align: center;
    margin: 5px;

}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #171e26;
    padding: 3.5vh;
    box-shadow: 0px 2px 8px #cf963c;
    z-index: 10;
}
h1{
    color: #cf963c;
    font-size: 1.5rem;
}
body{
    background-color: #e2e4e1; 
    /* background-color: #363838;  */
    
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
h2{
    text-align: center;
    padding: 20px;
    font-size: 3em;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links:hover{
    text-decoration: underline;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 80px;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
td:hover{
    background-color: lightblue;
    cursor: pointer;
    transform: scale(1.1);
}
#board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#results{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
}
#results > output{
    margin: 10px;
}
footer{
    background-color: #363838;;
    height: 20vh;
    position:absolute;
    width: 100vw;
}
input{
    border-color: #cf963c;
    margin: 5px;
    border-radius: 5px;
    font-size: xx-large;
}
input:active{
    border: 2px inset green;
    background-color:#bbbbbb;
}
.rules{
    text-align: center;
    margin-left: 30vw;
    margin-right: 30vw;
}
@media (min-width: 815px){
    header{
        flex-direction: row;
    }
    ul{
        flex-direction: row;
    }
    input{
        padding: 5px;
        font-size: 1rem;
    }
    main{
        flex-direction: row;
        justify-content:baseline;
    }
    h2{
        font-size: 2rem;
    }
    section{
        flex-grow: 1;
        align-items: center;
    }
    .rules{
        margin-left: 1vw;
        margin-right: 1vw;
        
    }
    .side-bar{
        background-color:#171e26;
        color: #e2e4e1;
        opacity: 0.9;
        width: 40vw;
        z-index: 2;
    }
    
}
.view{
    display: flex;
}
.card{
    
    border: 5px solid black;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    white-space: nowrap;
}
img{
    max-height: 400px;
    width: 100%;
    height: auto;
    filter: blur();
    object-fit: fill;
}
.footnote{
    text-align: center;
    height: 100px;
    background-image: linear-gradient(blue 50%, darkgrey);
}
