/* Test */
*{
    margin: 0px;
    font-size: 1.1rem;
    font-family:sans-serif
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.nav-links{
    text-decoration: none;
    color: #b0c3bf;
    text-align: center;
    margin: 5px;

}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #171e26;
    padding: 3.5vh;
    box-shadow: 0px 2px 8px #cf963c;
    z-index: 10;
    /* width: 100%; */
}
h1{
    color: #cf963c;
    font-size: 1.5rem;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
}
body{
    background-color: #e2e4e1; 
    /* background-color: #363838;  */
    
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
}
h2{
    text-align: center;
    padding: 20px;
    font-size: 3em;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links:hover{
    text-decoration: underline;
    color: #cf963c;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 80px;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
td:hover{
    background-color: lightblue;
    cursor: pointer;
    transform: scale(1.1);
}
#board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#results{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
}
#results > output{
    margin: 10px;
}
footer{
    background-color:#c7c9c6;
    height: 20vh;
    /* position:absolute; */
    width: 100vw;
}
input{
    border-color: #cf963c;
    margin: 5px;
    border-radius: 5px;
    font-size: xx-large;
}
input:active{
    border: 2px inset green;
    background-color:#bbbbbb;
}
.rules{
    text-align: center;
    margin-left: 30vw;
    margin-right: 30vw;
}
@media (min-width: 815px){
    header{
        flex-direction: row;
    }
    ul{
        flex-direction: row;
    }
    input{
        padding: 5px;
        font-size: 1rem;
    }
    main{
        flex-direction: row;
        justify-content:baseline;
    }
    h2{
        font-size: 2rem;
    }
    section{
        flex-grow: 1;
        align-items: center;
    }
    .rules{
        margin-left: 1vw;
        margin-right: 1vw;
        
    }
    .side-bar{
        background-color:#171e26;
        color: #e2e4e1;
        opacity: 0.9;
        width: 40vw;
        z-index: 2;
    }
    
}
.view{
    display: flex;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    overflow-x: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 30px
}
.view::-webkit-scrollbar{
    display: none;
}
.card{
    border: 5px solid black;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* overflow: hidden; */
    /* white-space: nowrap; */
    height: auto;
    text-decoration: none;
    transition-duration: .5s;
    transition-timing-function: ease-out;
    background-color:#e2e4e1;
    margin-bottom: 2em;
    z-index: 999;
    overflow-y: visible;
    max-width: 200px;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95)
}
.card:hover{
    transform: scale(1.1);
    transition-duration: .2s;
    transition-timing-function:ease-in-out ;
    box-shadow: -5px 20px 10px 5px rgba(0, 0, 0, 0.2), 5px 20px 10px 5px rgba(0, 0, 0, 0.19);
    color: #cf963c;
    
}
.card:active{
    color: #cf963c;
}
a.card-link{
    text-decoration: none;
    color:#b0c3bf
}
img{
    display: block;
    max-height: 400px;
    /* width: 100%; */
    max-width: 20em;
    height: 200px;
    width: 200px;
    filter: blur();
    object-fit: cover;
    left: 0px;
    
}
.footnote{
    text-align: center;
    height: 100px;
    background-color: #363838;
    padding: 10px 0;
    /* background-image: linear-gradient(#363838 10%, #171e26); */
    background-image: linear-gradient(#28313b 30%, #171e26);
    text-wrap: wrap;
    width: 100%;
}
form{
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}
hr{
    border: solid 1px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section{
    width: 100%;
}
@keyframes slideIn {
    /* 0% {position: fixed; left: -10px;}
    10% {position: fixed; left: 10%;}
    20% {position: fixed; left:  20%;}
    30% {position: fixed; left:  30%;}
    40% {position: fixed; left:  40%;}
    50% {position: fixed; left:  50%;}
    60% {position: fixed; left:  60%;}
    60% {position: fixed; left:  70%;}
    60% {position: fixed; left:  80%;}
    60% {position: fixed; left:  90%;}
    100% {position: static; left: auto;} */
    0% {transform: translateX(-1200px);}
    100% {transform: translatex(0);}
}
