*{
    margin: 0px;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
.nav-links{
    text-decoration: none;
    color: #b0c3bf;
    text-align: center;
    margin: 5px;

}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #171e26;
    padding: 3.5vh;
    box-shadow: 0px 2px 8px #cf963c;
}
h1{
    color: #cf963c;
}
body{
    background-color: #e2e4e1; 
    /* background-color: #363838;  */
    
}
main{
    height: 100vh;
}
h2{
    text-align: center;
    padding: 20px;
    font-size: 3em;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 815px){
    header{
        flex-direction: row;
    }
    ul{
        flex-direction: row;
    }
}
.nav-links:hover{
    text-decoration: underline;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 80px;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
td:hover{
    background-color: lightblue;
    cursor: pointer;
    transform: scale(1.1);
}
#board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#results{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
}
#results > output{
    margin: 10px;
}
footer{
    background-color: #363838;;
    height: 20vh;
    position:absolute;
    width: 100vw;
}
input{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: xx-large;
}
input:active{
    border: 2px inset green;
    background-color:#bbbbbb;
}
.rules{
    text-align: center;
}